@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모바일 최적화 기본 */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

/* safe area (노치 대응) */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
